extends _parts/layout.pug

block style
  != css('css/category')

block title
  title= page.category

block contents

  h1(style="text-align:center")= page.category

  include _parts/nav.pug

  - var posts = new Array()
  - page.posts.each(function(item){posts.push(item);})
  div(class='panel panel-default')
    each item in posts
      .panel-heading(style="text-align:center")
        .panel-title
          a(href=url_for(item.path))= item.title
      .panel-body
        if(item.excerpt=='')
          p!= item.content
        else
          p!= item.excerpt
          button.btn.btn-success(onClick="window.open('" + url_for(item.path) + "')") 更多
