extends _parts/layout.pug

block title
  title= config.title

block contents
  .header
    h1
      = config.title
      small= config.subtitle
  include _parts/nav.pug
  - var index_page
  - var footer_page
  -
    function find_page (item) {
        if (item.layout == 'index')
          index_page = item;
        else if (item.layout == 'footer')
          footer_page = item;
    }
  - site.pages.forEach(find_page)
  .row
    .col-md-4
      div(class='panel panel-default')
        .panel-heading
          h3(class='panel-title')= config.title
        .panel-body!= index_page.content
        .panel-body!= footer_page.content

    .col-md-8
      h3 最新发布

      - var posts = new Array()
      - page.posts.forEach(function(item) {posts.push(item);})
      each item in posts
        div(class='panel panel-default')
          .panel-heading
            h3(class='panel-title')= item.title
          // 如果post有摘要的话就只显示摘要
          if(item.excerpt!='')
            .panel-body!= item.excerpt
          else
            .panel-body!= item.more

block style
  != css('css/index')
